<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>530081421049-gooj8gij6sfkknecqribv183btgfupep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530081421049-gooj8gij6sfkknecqribv183btgfupep</string>
	<key>API_KEY</key>
	<string>AIzaSyBobX_glT1m-Gd60MMxAC4u2m55fFF8aPM</string>
	<key>GCM_SENDER_ID</key>
	<string>530081421049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.werureo.OrlandoCodeCamp</string>
	<key>PROJECT_ID</key>
	<string>orlando-code-camp-app</string>
	<key>STORAGE_BUCKET</key>
	<string>orlando-code-camp-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:530081421049:ios:6456889c7cd823e3</string>
	<key>DATABASE_URL</key>
	<string>https://orlando-code-camp-app.firebaseio.com</string>
</dict>
</plist>